.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 90vh;
}

.footer{
 
background-color: blue;
padding: 1%;
padding-bottom: 1%;

}
 

   .mezzo {
    display: flex;
    align-items: center;
    justify-content: center;
   }

   .contatti p{
    display: flex;
    align-items: center;
   }


.passioni{
   background-color:aquamarine;
  height: 50vh;
}